node_modules
/src
/coverage
/proxy
/test
/.github
/dist/package.json
.gitignore
coverage
yarn.lock
tsconfig.json
tsconfig.esm.json
jest.config.ts
.eslintrc.json
.prettierrc
.env.*
/esm
/documents
eslint.config.mjs
